<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Repository" value="DAL.Repositories.Sql"/>
		<add key =" PathLog" value ="=C:\\Admin\\Logs\"/>
		<add key ="LogFileName" value="C:\\Admin\\Logs\info.log"/>
	</appSettings>
	<connectionStrings>
		<add name="String" connectionString="Data Source=DESKTOP-N5I8Q7T;Initial Catalog=Proye23;Integrated Security=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
